<!DOCTYPE HTML>

<html>
	<head>
		<title>PRATIKSHA DUKARE </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar4"><img src="static/images/avatar.png"
								alt="" />
							</span>
							
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						
						<h1 id="title">PRATIKSHA DUKARE </h1>
						<p>Software Developer  </p>
						
						</div>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Introduction</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">My Projects</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://github.com/Pratikshadukare/"class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://www.linkedin.com/in/pratiksha-dukare-5b4225229/"class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href = "mailto: dukarepratiksha1@gmail.com"class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
		<div id="main">
			<section id="top" class="three" style="background-image: url('static/images/soft.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
				<div class="container">
			

							<header>
								<h2>
									INTRODUCTON
								</h2>
							</header>
							<p style="font-weight: bold; color: black;">
								Hello, I’m Pratiksha  a passionate and highly motivated Software Developer with expertise in Python, JavaScript, Git, and SQL and cloud technologies like AWS and Azure. Proficient in frameworks such as Flask and Django,
								 with hands-on experience in developing APIs, cloud-based services, and automation using Terraform and Jenkins.
								  Strong knowledge of Machine Learning libraries and cloud platforms (AWS, Azure, GCP).
								   Adept at collaborating with teams to build scalable, reliable software solutions.
						</div>
					</section>


				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>My Projects</h2>
							</header>

							<p style="background-color: #f0f8ff;">
								• Professional Experience Software Developer<br>
								• Developed scalable ETL pipelines using Apache Spark and AWS Glue to process large-scale structured and unstructured data.<br>
								• Designed and optimized batch & streaming workflows using Kafka, Spark Streaming, and Airflow, reducing data processing latency by 40%.<br>
								• Implemented cost-effective data lakes using AWS S3 and Redshift for efficient storage and retrieval.<br>
								• Built real-time data ingestion pipelines using Kafka and DynamoDB, enhancing customer behavior tracking and insights.<br>
								• Developed RESTful APIs using Flask and MySQL, integrating machine learning models for predictive analytics.<br>
								• Automated cloud infrastructure provisioning with Terraform and CloudFormation<br>
								• Enforced security compliance by implementing Sentinel policies on cloud resources
							
						     </p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="" class="image fit"><img src="static/images/api.jpg" alt="" /></a>
										<header>
											<h3 style="font-weight: bold; color: black;">
												Chatbot – Python Flask API Developer	</b></h3>
												Developed a backend API using Flask to authenticate users and manage chat functionality powered by OpenAI,
												 enhancing customer support interactions through intelligent, real-time responses.</h3>
										</header>
									</article>
									<article class="item">
										<a href="n" class="image fit"> <img src="static/images/azuredf.jpg" alt="" /></a>
										<header>
											<h3 style="font-weight: bold; color: black;">
												Azure-Based Real-Time Data Pipeline for GitHub Analytics</b> </h3>
												Designed a complete cloud data pipeline using Azure Data Factory for ingestion,
												 Databricks for transformation (Medallion Architecture), Azure Synapse for warehousing, and Power BI for visualization. Integrated GitHub APIs, implemented schema validation,
												 and handled dynamic datasets for real-world analytics use cases.
										</b></h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="" class="image fit"><img src="static/images/terraform.jpg"	alt="" /></a>
										<header>
											<h3 style="font-weight: bold; color: black;">
													Terraform Automation for Multi-Cloud Infrastructure</b> </h3>
												Created reusable Terraform modules to provision cloud infrastructure across AWS, Azure, and GCP.
												 Enforced security policies using Sentinel and automated AWS resource provisioning via AWS Lambda,
												 boosting operational efficiency and compliance.
										</h3>
										</header>
									</article>
									<article class="item">
										<a href="" class="image fit"><img src="static/images/pic05.jpg" alt="" /></a>
										<header>
											<h3 style="font-weight: bold; color: black;">
												 Portfolio Website</b> </h3>
											using Flask-microframework,</b> Python, HTML/CSS, and SQL</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="" class="image fit"><img src="static/images/datamigration.jpg" alt="" /></a>
										<header>
											<h3 style="font-weight: bold; color: black;">
													Data Migration to AWS </b> </h3>
												Built a real-time data processing pipeline using AWS MSK, Amazon EMR, and OpenSearch. 
												Configured an MSK cluster to stream large data volumes, processed them using Apache Spark on EMR, 
												and indexed results in OpenSearch for fast querying. Optimized data flow, reduced overhead,
												 and improved real-time analytics capabilities.</h3>
										</header>
									</article>
									
								</div>
							</div>

						</div>
					</section>

					<a href="/resume" class="redirect-link" style="display: block; width: 100%; padding: 10px; text-align: center; background-color: #4CAF50; color: white; text-decoration: none; font-size: 16px; border-radius: 5px;">View Resume</a>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="static/images/soft.JPEG" alt="" /></a>

							<p>I’m a passionate and results-driven Software Developer with hands-on experience in building scalable cloud-native applications and data engineering solutions. I specialize in Python development using Flask, Django, and PySpark, and have deep expertise across cloud platforms like AWS, Azure, and GCP.

								With a strong foundation in Big Data technologies such as Apache Spark, Kafka, and Airflow, I’ve designed real-time streaming pipelines and robust ETL systems to solve complex business problems. My professional journey at Applied Cloud Computing has equipped me with end-to-end experience in building RESTful APIs, integrating machine learning models, automating infrastructure using Terraform, and ensuring compliance with Sentinel Policies.
								
								I’m driven by curiosity, continuous learning, and the excitement of transforming ideas into working systems that create value.
								
								
						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h3>Contact</h3>
							</header>

							<p>You can find my projects on Github and connect with me on LinkedIn. Reach out to me by entering your Name, E-mail address, and your message. Thanks!</p>

							<form method="post" action="">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" id="name" required="required" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="email" name="email" id="email" required="required" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" rows="7" required="required" placeholder="Enter your message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

			
		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>